DATABASE_URL=postgresql://librook_user:TU_PASSWORD_DB@localhost:5432/librook_db
JWT_SECRET=CAMBIAR_POR_CADENA_ALEATORIA_LARGA
EMAIL_USER=berenicesolohaga@gmail.com
EMAIL_PASS=TU_APP_PASSWORD_DE_GMAIL
PORT=3001
